met_avg_filtered.csv
BVR_Daily_WaterLevel_Vol_2015_2022.csv
BVR_inflow_2015_2022_allfractions_2poolsDOC_withch4_metInflow.csv
BVR_spillway_outflow_2015_2022_metInflow.csv
Inflow_2013_2022.csv
Met_final_2015_2022.csv
chem_2013_2022.csv
met_precip_mmd.csv
